{% extends 'templates/default.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="container account-main">
        <h1 class="page-title">Eat@CS</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="page-subtitle">Account</h2>
                {% include 'templates/acc-nav.twig' %}
                {% include 'templates/flash.twig' %}
                <h2 class="page-sub-subtitle text-left">Good keywords</h2>
                <div class="panel panel-default panel-add">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter here a good keyword...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Add</button>
                        </span>
                    </div>
                    <div class="keyword-item">
                        Schnitzel
                    </div>
                    <div class="keyword-item">
                        Schnitzel
                    </div>
                    <div class="keyword-item">
                        Schnitzel
                    </div>
                    <div class="keyword-item">
                        Schnitzel
                        <div class="pull-right">

                        </div>
                    </div>
                </div>
                <h2 class="page-sub-subtitle text-left">Bad keywords</h2>
                <div class="panel panel-default panel-add">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter here a bad keyword...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}